.am-tab-bar .iconfont {
    font-size: 20px;
}
.home {
    padding-bottom: 50px;
}
.home .positionBottom {
    position: fixed;
    /* height: '100%'; */
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
}
p, h3 {
    margin: 0;
}
a {
    color: #333;
}
